{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Details</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</head>
<body>
	<div class="container">
		<h2 class="bg-info text-center">Details</h2>
		<h3>Your Username is {{username}} </h3>
		<h3>Your Email is {{Email}} </h3>
		<h3>Your Mobile number is {{Mobile}} </h3>
		<h3>Your Gender is {{Gender}} </h3>
		<h3>date of Birth {{DOB}} </h3>
		<h3>Known Languages {{Language}} </h3>
		<h3>Selected Course {{Course}} </h3>
		<h3>Uploaded File {{File}} </h3>
		<h3>Your Comments {{Comment}} </h3>

	</div>
	
</body>
</html>